#!/bin/sh

# $1  recorded data path
# $2  program data (JSON)

# Chinachu が持っている ffmpeg を使うことができます。
# サポートされている動画形式を調べるには:
# ./chinachu test ffmpeg -formats
# ./chinachu test ffmpeg -encoders

log={{ encoder_log_path }}

export NODE_PATH={{ node_path }}

{
    {{ node_path }} {{ encoder_dir}}/odango-encoder.js \
        -i "$1" \
        -o "{{ output_dir }}" \
        -program-data "$2" \
        -ffmpeg "{{ ffmpeg_path }}"

} >> "$log" 2>&1
