{
  "recordedDir" : "{{ chinachu_recorded_dir }}/",
  "temporaryDir": "/tmp/",

  "wuiUsers": [
    "{{ chinachu_username }}:{{ chinachu_password }}"
  ],

  "wuiPort"        : 10772,
  "wuiHost"        : "::",
  "wuiTlsKeyPath"  : null,
  "wuiTlsCertPath" : null,
  "wuiOpenServer"  : false,
  "wuiOpenPort"    : 20772,
  "wuiPreviewer"   : true,
  "wuiStreamer"    : true,
  "wuiFiler"       : true,
  "wuiConfigurator": true,

  "recordedFormat": "[<date:yymmdd-HHMM>][<type><channel>][<tuner>]<title>.ts",

  "tuners": [

  ],

  "channels": [

  ]
}
